<!DOCTYPE html>
<html>
<head>

	<style>
		body {
			background-image: url('/assets/brz.jpg');
		}

	</style>

	<title></title>
</head>
<body>

	<h1 class="index-page"> 

		Welcome to Ride-Lists! 
		<br />
		<br />
		
		<%= link_to "View Cars", add_cars_path %>
	</h1>


</body>
</html>




