<a href="https://raleigh.craigslist.org/search/ctd?search_distance=10&postal=27613&auto_drivetrain=2&auto_transmission=1"><h1>RWD Manual Cars within 10 miles of 27613</h1></a>
<br />

<% @listings.each do |list| %>


	<h3><%= list.car %></h3>

<% end %>