<div class="title-link">
	<a href="https://raleigh.craigslist.org/search/ctd?search_distance=10&postal=27613&auto_drivetrain=2&auto_transmission=1"><h1>Manual Cars within 10 miles of 27613</h1></a>
</div>

<br />

<div class="new-car-link">
	<p>
		<%= link_to "Add a New Car", new_add_car_path %>
	</p>
</div>

<hr />

<br />



<% @listings.each do |list| %>

	<h3>
		<div class="listing">
			<%= list.car %>
		</div>
	</h3>
<br />
<% end %>
<hr />


<h1 class="newest_additions"> <u>Newest Additions</u> </h1>

<% @add.each do |a| %>
	<div class="listing">
		<%= a.car_name %>
	</div>
<% end %>
